<h1>Notable Plekkes in Cape Town</h1>
<% @places.each do |place| %>
	<strong><h3>
		<%= link_to place.name, place_path(place) %>
	</h3></strong>
	<p>
	<%= link_to 'Edit Plekke', edit_place_path(place) %>
	<%= link_to 'Delete Plekke', places_path(place),
				method: :delete,
				data: {confirm: 'Are you sure?'} %>
	<br><br><br></p>
<% end %>


<p><br><br>
	<%= link_to 'New Plekke, Bru', new_place_path %>
</p>

