<h1>Notable Plekkes in Cape Town</h1>
<strong>
<% @places.each do |place| %>
	<p><%= link_to place.name, place_path(place) %></p>
<% end %>
</strong>

<p><br><br><%= link_to 'New Plekke, Bru', new_place_path %>
</p>

